html {
  background: conic-gradient(from 0turn at 0% 0%, #00c476, 10%, #82b0ff, 90%, #00c476);
  background-attachment: fixed;
  overflow-y: auto;
  color: hsla(0, 0%, 100%, 0.95);
}

a {
  color: inherit;
}

body {
  min-height: 150vh;
  font-family: "Work Sans", sans-serif;
  /* line-height: 1.5;
  @media (min-width: 600px) {
    font-size: 18px;
  } */
}

.contentLength {
  width: 1px;
  height: 350vh;
  background-color: transparent;
  position: absolute;
}

/* HEADER */
.header {
  position: fixed;
  text-align: center;
  top: 20px;
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease-out;
}

#github {
}
#linkedin {
  margin-left: 15px;
}
.socialLink img {
  height: 33px;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.socialLink img:hover {
  animation: tilt-shaking 0.3s;
}

/* EMAIL TEXT */
.mainTextContainer {
  width: 100%;
  height: 0px;
  /* background-color: blue; */
  font-size: 49px;
  vertical-align: middle;
  display: flex;
  justify-content: left;
  align-items: center;
  position: fixed;
  top: 40%;
  left: 100%;
  transition: transform 1s ease-out;
}

.mainText {
  font-size: 5vw;
  margin-left: 10px;
  font-weight: 800;
}

.mainTextEnding {
  color: #ffffff00;
  transition: color 1s ease-out;
}

@keyframes bounce2 {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.emailCopiedAlert {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 25%;
  left: 50%;

  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  color: #ffffffdc;
  text-decoration: none;

  padding: 25px;

  border: 3px solid rgba(255, 255, 255, 0.24);
  border-radius: 24px;

  opacity: 0;
  transition: opacity 0.5s ease-out;
}

/* SCROLLING ANIMATION */
.scrollContainer {
  position: fixed;
  bottom: 70px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-around;

  opacity: 1;
  transition: opacity 0.3s ease-out;
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}
@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}

.scrollAnimation {
  width: 50px;
  height: 90px;
  border: 3px solid #e2e2e2;
  border-radius: 60px;
  position: relative;
}
.scrollAnimation::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #9b9b9b;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 2s infinite;
  -webkit-animation: wheel 2s infinite;
}

/* PORTFOLIO LINKS */
.linksContainer {
  width: 100%;
  position: fixed;
  bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  opacity: 0;
  transition: opacity 1s ease-out;
}

.frostedBox {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  color: #ffffffdc;

  display: inline-block;
  padding: 15px;

  border: 3px solid rgba(255, 255, 255, 0.24);
  border-radius: 24px;

  text-align: left;
  text-decoration: none;
}

.linksComponent {
  margin: 0 15px;

  width: 300px;
  height: 150px;

  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.linksComponent:hover {
  background-color: #82b0ff79;
  border: 3px solid #ffffffa2;
  box-shadow: 0px 0px 3rem 15px #ffffff6e;
}

.linksHeader {
  color: #ffffff;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}

.logo {
  width: 50px;
}

.linksTitle {
  margin-left: 10px;
}

.linksSubtitle {
  font-size: 15px;
  font-weight: 400;
  margin-left: 13px;
  margin-bottom: -5px;
}

.linksDescription {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: calc(1ex / 0.32);
}

@media only screen and (max-width: 767px) {
  .mainTextContainer {
    top: 30%;
  }

  .emailCopiedAlert {
    font-size: 11px;
    padding: 15px;
  }

  .linksContainer {
    display: grid;
    width: 100%;
  }

  .frostedBox {
    padding: 10px;
    border-radius: 18px;
  }

  .linksComponent {
    margin-top: 20px;
    width: 83%;
    height: 80px;
  }
  .linksHeader {
    font-size: 11px;
    align-items: center;
    margin-bottom: 0px;
  }
  .logo {
    width: 30px;
  }
  .linksDescription {
    margin-top: 0px;
    font-size: 11px;
    font-weight: 400;
    line-height: calc(1ex / 0.32);
  }
}
